.venv
*.csv
.git
results
saved_model
logs
saved_model.rar
wordnet_unzipped
*.txt
QQ
suicide_detection_model
*.PNG
*.rar
suicide_detection_model_best
suicide_detection_roberta_model
*.zip
*.pkl
*.joblib
*.npz
*.json
train.py
build
dist

